@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: cyan;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
  color: cyan;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: cyan;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: lawngreen;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navigation .btnLogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid cyan;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  color: cyan;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin:hover {
  color: green;
  background-color: cyan;
}

.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  border: 30px solid pink;
  border-radius: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: pink;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: pink;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
